button{
    background:#3498db; 
    border: #3498db; 
    padding: 0.5rem;
    cursor:pointer;
    color:#fff;
    border-radius: 5px;
    box-shadow: none;
    width: 15%;
    font-size: 1.1rem;
}

/*responsive*/

@media (min-width: 240px) and (max-width: 880px){
    button{
        width: 50%;
        padding:0.7rem;
    }
}