button{
    background:none; 
    border:1px solid #0a3d62; 
    padding: 0.4rem;
    cursor:pointer;
    color:#0a3d62;
    border-radius: 5px;
    box-shadow: none;
    width: 20%;
    font-size: 1.1rem;
}

button:hover{
    background:#b2ccdd;
    transition: all 200ms ease-in-out;
}

/*responsive*/

@media (min-width: 240px) and (max-width: 880px){
    button{
        border:none;
        text-align: start;
        padding:0;
        width: 50%;
        font-size:1.5rem;
        text-decoration: underline;
        color:#3498db;
    }

}