header{
    background:#0a3d62;
    width: 100%;
    height: auto;
    color:#f5f6fa;
    padding: 1rem 0;
}
header a{
    text-decoration: none;
    color:#f5f6fa;
}
.logo{
    width: 4rem;
}
.menu-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header input,label{
    display: none;
}
.list-menu li{
    display:inline;
    list-style: none;
    padding: 0 0.5rem;
}




/*responsive-movil*/

@media (min-width:240px) and (max-width:880px){
    header{
        padding: 0.5rem 0;
    }
    .list-menu{
        display: none;
        top:4rem;
        right: 0;
        position:absolute;
    }
    .list-menu li{
        padding: 1.5rem;
    }
    .bar-btn{
        display:flex;
        font-size:2.5rem;
        cursor:pointer;
        user-select: none;
    }
    .logo{
        width: 1rem;
    }
    header #menu:checked~.list-menu{
        background: #0a3d62;
        width: 100%;
        height: 40vh;
        display:flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: space-evenly;
    }
}
